<ul>
    <li><a class="text-uppercase" href="/myprofile/index">Личный кабинет</a></li>
    <li><a class="text-uppercase" href="/teachers/index">Список преподавателей</a></li>
    <li><a class="text-uppercase" href="/students/index">Список студентов</a></li>
    @if (User.IsInRole("Администратор"))
    {
        <li><a class="text-uppercase" href="/users/index">Список пользователей</a></li>
        <li><a class="text-uppercase" href="/users/create">Регистрация пользователя</a></li>
        <li><a class="text-uppercase" href="/faculties/index">Факультеты</a></li>
        <li><a class="text-uppercase" href="/subjects/index">Предметы</a></li>
        <li><a class="text-uppercase" href="/groups/index">Группы</a></li>
        <li><a class="text-uppercase" href="/lessons/index">Занятия</a></li>
    }
    @if (User.IsInRole("Преподаватель"))
    {
        <li><a class="text-uppercase" href="/teachers/groups">Мои группы</a></li>
    }
    @if (User.IsInRole("Студент"))
    {
        <li><a class="text-uppercase" href="/students/absence">Мои пропуски</a></li>
    }

</ul>
